electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
electron_mirror=https://github.com/electron/electron/releases/download/
# home=https://npmmirror.com
registry=https://registry.npmmirror.com/
